
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  center {
    margin-top: 50px;
  }
  
  img {
    max-width: 300px;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
  }
  
  .div1 {
    background-color: #ffffcc;
    border: 1px solid #cccc99;
    padding: 10px;
    margin: 0 auto; /* Thu nhỏ và căn giữa */
    max-width: 500px; /* Giới hạn chiều rộng tối đa */
    border-radius: 5px;
  }
  
  .div1 h2 {
    color: #333;
    font-size: 18px;
    margin: 0;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 300px;
  }
  
  table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  table tr:first-child {
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }