ul {
    list-style-type: none;
}

.menu {
    background-color: white;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 1px;
}

.menu_list-left,
.menu_list-right {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    line-height: 50px;
    /* Sử dụng chiều cao của container */
}

/* Đặt các mục menu nằm ngang */
.menu_list-left li,
.menu_list-right li {
    display: inline-block;
    margin-right: 35px;
    /* Khoảng cách giữa các mục menu */
}

/* Thiết kế liên kết trong menu */
.menu_list-left a,
.menu_list-right a {
    text-decoration: none;
    font-size: 16px;
    /* Kích thước chữ cho các liên kết */
    font-weight: bold;
    text-align: center;
    color: black;
    /* Màu chữ cho menu trái */
    transition: transform 0.3s; /* Thêm hiệu ứng chuyển đổi độ trễ 0.3s*/
}

/* Màu nền khi di chuột qua menu */
.menu_list-left a:hover,
.menu_list-right a:hover {
    color: black;
    padding: 5px 10px;
    /* Tạo khoảng cách xung quanh liên kết */
    border-radius: 5px;
    /* Làm tròn góc */
    transform: scale(1.2); /* Phóng to lên 120% khi hover */
}

.menu_list-left img {
    width: 50px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

#search-box {
    width: 60px;
    /* Độ rộng mặc định của ô tìm kiếm */
    transition: width 0.4s;
    /* Hiệu ứng thay đổi độ rộng */
    border-radius: 50px;
    height: 30px;
    flex: 1;
    padding-right: 40px; /* Để tạo khoảng trống bên phải cho button */
}

#search-button {
    background: url('https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_960_720.png') no-repeat center center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    right: 5px;
    border-radius: 50%; /* Tạo khung tròn */
    cursor: pointer;
    transition: background-color 0.2s; /* Hiệu ứng thay đổi màu */
}

#search-button:hover {
    background-color: #DDD; /* Đổi màu khi hover */
}

#search-box:focus {
    width: 200px;
    /* Độ rộng khi ô tìm kiếm được focus */
}


.slideshow-container {
    position: relative;
    width: 100%;
    /* Điều chỉnh kích thước của slideshow */
    margin: 0 auto;
    margin-top: 5px;
}

.slide {
    display: none;
    /* Ẩn tất cả các slide ban đầu */
}

.slide img {
    width: 100%;
    height: 600px;
}

.footer {
    background-color: #333; /* Màu nền của footer */
    color: white; /* Màu chữ */
    padding: 20px;
    
  }

.info-container-2,
.info-container {
    display: flex;
    justify-content: space-between; /* Chia thành hai phần bằng nhau */
}

.info-container-2-left,
.info-container-2-right,
.info-container-left, 
.info-container-right {
    flex: 1; /* Chia đều không gian cho mỗi phần */
}

.info-container-left { /*Chia đều 3 cột*/
    display: flex;
    justify-content: space-between;
}

.info-container-left-section {
    flex: 1; /* Chia đều không gian cho mỗi phần */
}

.info-container-left ul {
    font-size: 18px;
}

.info-container-left li {
    font-size: 13px;
    margin-top: 15px;
    color: #ccc;
}

.info-container-right-icons button {
    padding: 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 15px;
}

/*menu danh muc*/


/**/