
/* MAIN */
.main {
    height: auto;
    width: 100%;
}
.sidebar {
    background-color: #ffccff;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}
ul.sidebar_list {
    padding: 0;
    list-style: none;
    width: 100%;
    line-height: 25px;
}
ul.sidebar_list li {
    border-radius: 5px;
    margin: 7px;
    padding: 5px;
    background-color: #ccf5ff;
}

ul.sidebar_list li:hover {
    background-color: #ffccff;
}

ul.sidebar_list li a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.maincontent img {
    width: 100%;
    /* height: 100%; */
    height: 600px;
    object-fit: cover;
    object-position: center;

}
.new_product h3 {
    text-align: center;
}

/* Hiển thị sản phẩm */

/* FOOTER */

