
.warpper_deital {
    height: auto;
    width: 100%;
    margin: 10px 0;
    display: flex;
}
.hinhanh_sanpham {
    width: 35%;
}
.form-sp {
    width: 65%;
}
.hinhanh_sanpham img {
    width: 80%;
}
input.themgiohang {
    /* margin-top: 32px; */
    border: none;
    /* color: black; */
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #4f4f4f;
}

.chitiet_sanpham {
    background-color: white;
    height: 600px;
    padding: 20px;
}
.checked,
.price span {
    color: #ffe600;
}
span.review-no {
    color: #ffe600;
    text-decoration: underline;
    margin-right: 8px;
    font-weight: bold;
    font-size: 18px;
    /* text-decoration: blink; */
}
.rating {
    display: flex;
    margin-top: 16px;
}
.price {
    display: flex;
    align-items: center;
}
p.gia-cu {
    color: #999;
    text-decoration: line-through;
}
h5.gia-now {
    margin-left: 12px;
    color: #708090;
    font-size: 24px;
}
span.slae {
    margin-left: 24px;
    background-color: #708090;
    padding: 0 12px;
    color: #fff;
    font-size: 12px;
}

.soluong-sp {
    display: flex;
    align-items: center;
}
input.soluong-sp-input {
    width: 36px;
    text-align: center;
    border: 1px solid #e1e1e1;
}
.soluong-sp-p {
    margin-right: 24px;
}

p.soluong-sp-cosan {
    margin-left: 24px;
    color: #999;
}
.soluong-sp-cosan-text {
    color: #999;
    margin-left: 4px;
}
.danhmuc {
    margin-top: 24px;
}
.input-themcart {
    width: 180px;
    display: flex;
    align-items: center;
    background: #4f4f4f;
    margin-top: 24px;
}
i.fa-solid.fa-cart-plus {
    margin-left: 12px;
    color: #fff;
}
.mota-p {
    font-weight: bold;
}

/* Test */
